.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  padding: 20px;
}

.hero h2 {
  font-size: 1.5rem;

  max-width: 600px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .hero h2 {
    font-size: 1.25rem;
  }
}
