@import "tailwindcss/utilities";
@import "tailwindcss/components";
@import "tailwindcss/base";

html,
body {
  height: 100%;
  margin: 0;
  background: radial-gradient(125% 125% at 50% 10%, #000 40%, #63e 100%);
  color: #fff;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  color: #fff;
  text-align: center;
  padding: 20px 0;
}

@media (min-width: 1200px) {
  footer {
    font-size: 18px;
    padding: 30px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  footer {
    font-size: 16px;
    padding: 25px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  footer {
    font-size: 14px;
    padding: 20px;
  }
}

@media (max-width: 767px) {
  footer {
    font-size: 12px;
    padding: 15px;
  }
}

@media (max-width: 575px) {
  footer {
    font-size: 10px;
    padding: 10px;
  }
}
