/* Existing styles */
.logo {
  font-size: 44px;
  font-weight: bold;
  margin: 10px;
}

.logo-uvee {
  color: white;
}

.logo-dev {
  color: #ffd700;
}

/* Additional styles */
nav.fixed-top {
  padding: 0.5rem 1rem;
  background-color: #000;
}

.header-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.pages-link {
  /* This should be .pages-link since that's what's used in your JSX */
  display: flex;
  align-items: center; /* Changed from flex-end to center for vertical alignment */
}

.pages-link a {
  /* This should be .pages-link since that's what's used in your JSX */
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s ease;
}

.pages-link a:hover {
  color: #ffd700;
  text-decoration: underline;
}

.contact-link {
  background-color: #ffd700;
  color: #000 !important;
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.contact-link:hover {
  background-color: #e6c300;
  size: 5px;
}
