.button {
  font-size: 0.8rem;
  color: #007bff;
  background-color: #ffffff;
  border: 1px solid #007bff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  justify-content: center;
}

.button:hover {
  background-color: #007bff;
  color: #ffffff;
}
